  <body>
    <h1>Categories</h1>
    <% categories.forEach((categorie) => { %>
      <ul>
        <li>
          <a href="http://localhost:3000/categories/<%= categorie %>"><%= categorie %></a>
        </li>
      </ul>
    <% }) %>

  </body>
